h1,em
{
	color:white;
}
strong 
{
	color :yellow;
}
p
{
	color:grey;
}
h2 
{
	color :purple;
}
p
{
	font-size:large;
}
h1
{
	font-size:xx-large;
}

h1 
{
	font-family:Times New Roman,"Arial"
}
p{
	font-family: helvetica, calibri
}
h1,p,h2
{
	text-align:center;
}
body
{
	background-color: black;
}
body
{
	width:100%
}


